{{define "song"}}
<!DOCTYPE>
<html>
<head>
<link href="image/icon.ico" rel="SHORTCUT ICON">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>IM Music</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
<link rel="stylesheet" href="/static/css/style.css">
<style type="text/css">
td {
	font-family: "微軟正黑體";
	color: rgba(0,0,0,0.6);
	font-size: 30px;
	text-align: justify;
}
</style>
</head>

<body>
<div id="container">
	<div id="header">
	  <div class="title">
        <a href="/"><img src="/static/images/logo.jpg" width="50" height="50"></a>
        <span class="top">Music is the only thing that gets your mind off of everything else.</span>
      </div>
	</div>

	<div id="content">
	    <img src="/static/images/content1.gif" width="1200" height="500" class="slider"> 
		<div id="contentL">
			<a href="/">Home</a>
		    <a href="/singer">Singers</a>
		    <a href="/album">Albums</a>
		    <a href="/song">Songs</a>
		    <a href="/search">Search</a>
		</div>

		<div id="contentR">
		  {{range .}}
          <div class="media">
            <div class="media-left">
              <a href="/song/{{.ID}}">
                <img class="media-object" src="/static/images/{{.Album.Photo}}" width="64" height="64" />
              </a>
            </div>
            <div class="media-body">
              <a href="/song/{{.ID}}"><h4 class="media-heading text-success">{{.Name}}</h4></a>
              <p><span class="glyphicon glyphicon-user"></span>歌手： {{.Singer.Name}}</p>
              <p><span class="glyphicon glyphicon-music"></span>專輯： {{.Album.Name}}</p> 
              <p><span class="glyphicon glyphicon-text-color"></span>語言： {{.Album.Language}}</p>
            </div>
          </div>
          {{end}}
		</div>

		<div class="clearfix"></div>
	</div>
</div>
</body>
</html>
{{end}}